@charset "utf-8";
@import '../fonts/icomoonFont/style.css';
@import '../fonts/aliiconfont/iconfont.css';
* {
  box-sizing: border-box;
}
#app {
  height: 100%;
}
.tabbar {
  height: 4.0625rem;
  background: white;
}
.iconfont {
  font-size: 1.8rem;
}
.icon ~ .tabbar-label {
  font-size: 0.925rem;
}
