@charset "utf-8";
@import '../fonts/icomoonFont/style.css';
@import '../fonts/aliiconfont/iconfont.css';
* {
  box-sizing: border-box;
}
#app {
  height: 100%;
}
.input-box {
  height: 46px;
  background: transparent;
  border: 1px solid white;
  border-radius: 7px;
  margin: 14px 0px 0px;
}
.input-box .input-ico {
  float: left;
  width: 16%;
  color: white;
  margin-bottom: 0rem;
}
.input-box .input-ico i {
  line-height: 46px;
  font-size: 30px;
  text-align: center;
}
.input-box .input-ico .icon-mobile:before {
  content: "\e958";
}
.input-box .input-text {
  float: left;
  width: 84%;
  color: white;
  border: transparent;
  border-radius: 7px;
  background: #18b4ed;
  margin-bottom: 0rem;
  padding: .75rem 0rem;
}
.input-box .input-text:hover,
.input-box .input-text:focus,
.input-box .input-text:active {
  border: transparent;
  color: white;
  background: #18b4ed;
}
